<div fxLayoutAlign="center stretch">
    <mat-card fxFlex="50">
        <mat-toolbar>
            <span style="width: 100%;text-align: center">Authentification</span>
        </mat-toolbar>       
        <form fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="onLogin()" name="loginForm" [formGroup]="loginForm">

            <mat-form-field>
              <input matInput placeholder="Username" formControlName="username" required="">
              <mat-error *ngIf="!loginForm.controls['username'].valid">
                Username is not valid
              </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput  type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="!loginForm.controls['password'].valid">
                    Password is not valid
                  </mat-error>
            </mat-form-field>
            
            <button mat-raised-button type="submit" color="primary">
                Login
            </button>
            <div>
            <mat-error *ngIf="isAuth">
              UseName or Password is invalid
            </mat-error>                          
          </div>
          
            
          </form>

          <mat-toolbar>
            UserName : admin@admin.edu Password : 123456
        </mat-toolbar>
          
    </mat-card> 
</div>